@use 'variables' as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}


@mixin glass($opacity: 0.1, $blur: 10px) {
  background: rgba(255, 255, 255, $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@mixin glass-dark($opacity: 0.7, $blur: 15px) {
  background: rgba(7, 15, 31, $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

@mixin text-gradient {
  background: linear-gradient(45deg, v.$color-hover, #ffb347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}